body {
        
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    margin-top: 50px;
    gap: 10px;
    padding: 2px;
    border: 1px solid #e0e4e8;
  }


.card {
  background-color: #ffffff; 
  width: 300px;
  text-align: center;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  
}

.btn-supprimer{
    background-color: #dc3545;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



.btn-supprimer:hover{
    background-color: #c82333;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

a{
    text-decoration: none;
    color: #3498db;
}
footer{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #34495e;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  }